In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
Books = pd.read_csv('goodreads_library_export.csv')
Books.head()

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Private Notes,Read Count,Recommended For,Recommended By,Owned Copies,Original Purchase Date,Original Purchase Location,Condition,Condition Description,BCID
0,18619684,The Time Traveler's Wife,Audrey Niffenegger,"Niffenegger, Audrey",NaN,"=""""","=""9781939126016""",0,3.98,Zola Books,...,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,59948868,האוצר,שלום עליכם,"עליכם, שלום",יצחק דב ברקוביץ',"=""""","=""""",5,5.00,NaN,...,NaN,2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
2,52381770,"Network Effect (The Murderbot Diaries, #5)",Martha Wells,"Wells, Martha",NaN,"=""1250229863""","=""9781250229861""",0,4.45,Tor.com,...,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
3,357,The Long Dark Tea-Time of the Soul (Dirk Gentl...,Douglas Adams,"Adams, Douglas",Wilson McLean,"=""0671742515""","=""9780671742515""",4,4.02,Pocket Books,...,NaN,2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
4,23498264,Early Riser,Jasper Fforde,"Fforde, Jasper",NaN,"=""144476358X""","=""9781444763584""",0,3.86,Hodder & Stoughton,...,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [43]:
Rates = Books["My Rating"].value_counts()
type.Rates
#plt.bar(Rates, labels = Rates)

#plt.show()

AttributeError: type object 'type' has no attribute 'Rates'